<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
{#My name is: {{ name }}#}
<div id="main_menu" class="current">
    <h1>Vishal's First Web Page</h1>
</div>
<div id="main_content" class="red">
    <p>
        <span class="makeBig"> Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Massa sapien faucibus et molestie ac feugiat sed. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis.
        Amet aliquam id diam maecenas ultricies. Velit ut tortor pretium viverra suspendisse potenti. Ut enim blandit volutpat maecenas volutpat.
        Scelerisque eu ultrices vitae auctor. Sit amet porttitor eget dolor morbi non arcu. Mauris rhoncus aenean vel elit.
        Eget sit amet tellus cras adipiscing enim eu turpis egestas. Mi in nulla posuere sollicitudin.
        Tortor condimentum lacinia quis vel eros donec. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer.
        Nibh ipsum consequat nisl vel pretium lectus quam id leo.
    </p>
    <p>
        Quis vel eros donec ac odio tempor. Laoreet id donec ultrices tincidunt arcu non sodales neque.
        Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. At varius vel pharetra vel turpis.
        Pulvinar etiam non quam lacus suspendisse. Lectus vestibulum mattis ullamcorper velit sed. Tellus in hac habitasse platea.
        Morbi quis commodo odio aenean. Pharetra convallis posuere morbi leo. Pretium nibh ipsum consequat nisl vel pretium.
        Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Faucibus turpis in eu mi bibendum.
        Nibh venenatis cras sed felis. Vel quam elementum pulvinar etiam non quam lacus. Tristique senectus et netus et malesuada.
        Maecenas volutpat blandit aliquam etiam erat.Nisl vel pretium lectus quam id leo in.
    </p>
    <p>
        Lorem mollis aliquam ut porttitor leo a diam sollicitudin. Lacus viverra vitae congue eu consequat ac.
        Pellentesque pulvinar pellentesque habitant morbi tristique. In cursus turpis massa tincidunt dui ut ornare.
        Netus et malesuada fames ac turpis egestas. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend.
        Tellus orci ac auctor augue mauris augue neque gravida in. Enim nec dui nunc mattis enim ut tellus elementum.
        Massa vitae tortor condimentum lacinia quis vel eros donec. Ac odio tempor orci dapibus ultrices in iaculis nunc.
        Blandit massa enim nec dui nunc mattis enim ut tellus. Arcu dui vivamus arcu felis bibendum ut tristique et.
        Ultricies leo integer malesuada nunc.
    </p>
</div>
</body>
</html>
